---
import BaseLayout from "../layouts/BaseLayout.astro";
import GithubIcon from '../icons/GithubIcon.astro'
import TwitterIcon from '../icons/TwitterIcon.astro'
import LinkedinIcon from '../icons/LinkedinIcon.astro'
import CodepenIcon from '../icons/CodepenIcon.astro'
import SocialLink from '../components/SocialLink.astro'
---

<BaseLayout>
  <div class="main-content">
    <div class="container">
      <main>
        <h1 class="title">sumanth yedoti</h1>
        <p class="bio">Full-stack Engineer. UI/UX Enthusiast</p>
      </main>
      <footer>
        <ul class="social-links">
          <SocialLink title="Github" href="https://github.com/sumanthyedoti">
            <GithubIcon className="social-icon" />
          </SocialLink>
          <SocialLink title="Linkedin" href="https://linkedin.com/in/sumanthyedoti">
            <LinkedinIcon className="social-icon" />
          </SocialLink>
          <SocialLink title="Twiiter" href="https://twitter.com/sumanthyedoti">
            <TwitterIcon className="social-icon" />
          </SocialLink>
          <SocialLink title="Codepen" href="https://codepen.io/sumanthyedoti">
            <CodepenIcon className="social-icon" />
          </SocialLink>
        </ul>
      </footer>
    </div>
  </div>
</BaseLayout>

<style>
.main-content {
  display: grid;
  height: 100dvh;
  place-items: center;
  background-color: var(--bg);
}
.container {
  border-radius: 1rem;
  margin: 0 0.5rem;
  background-color: #e5e5e5;
  border: 2px solid var(--black);
  box-shadow: 0px 0px 50px 0px #858585;
  margin-top: -12vh;
}
main {
  padding: 1.6em 2em 1.6em;
  text-align: center;
  @media (min-width: 580px) {
    padding: 2em 4em 2.4em;
  }
}

.title {
  position: relative;
  display: inline-block;
}
.bio {
  font-weight: 400;
  font-size: 1rem;
  @media (min-width: 580px) {
    font-size: 1.1rem;
  }
}
footer {
  padding: 1.6rem 2.4rem;
  position: relative;
  border-top: 2px dashed var(--muted);
  @media (min-width: 500px) {
    padding: 2rem 4rem;
  }

  &::before, &::after {
    --size: 0.6rem;
    content: "";
    position: absolute;
    top: calc(var(--size) / -1.8);
    border-radius: var(--size);
    width: var(--size);
    height: var(--size);
    background-color: #454545;
  }
  &::before {
    left: calc(var(--size) / -2);
    border-right: 2px solid var(--black);
  }
  &::after {
    right: calc(var(--size) / -2);
    border-left: 2px solid var(--black);
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    padding: 0;
    margin: 0;
  }
}
</style>
